.rammi div {
    border: 1px dotted var(--nc-tx-1);
    padding: 1rem;
    text-align: center;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}
/* misræmi við grid */
.rammi div:last-child {
    margin-bottom: 1rem;  /* ath */
}
main, footer {
    margin: .5rem;
}
.container {
    padding: 0 .5rem;
}
/* farsímar - lárétt (landscape) */
@media screen and (min-width:37.5rem) {}

/* spjaldtölvur - ipads */
@media screen and (min-width:48rem) {
    .col-2 {
        grid-template-columns: 1fr 1fr;
        gap:2rem;
    }
    .col-3 {
        grid-template-columns: repeat(3, 1fr);
        gap:2rem;
    }
    .col-4 {
        grid-template-columns: repeat(4, 1fr);
        gap:2rem;
    }
    .col-5 {
        grid-template-columns: repeat(5, 1fr);
        gap:2rem;
    }
    .col-6 {
        grid-template-columns: repeat(6, 1fr);
        gap:2rem;
    }
    .rammi div {
        margin-bottom: 1rem;  /* ath row-gap virkar ekki vel*/
      }
}
.container {
    padding-bottom: 1rem;
}
/* fartölvur */
@media screen and (min-width: 60rem){
    main, footer, .container {
        max-width: 60rem;
        margin: auto;
    }
}
/* tölvuskjáir */ 
@media screen and (min-width: 80rem){
    main, footer, .container {
        max-width: 80rem;
        margin: auto;
    }
}
/*  */
@media screen and (min-width:100rem) {}