

legend {
	padding: auto .5rem;
	font-weight: 600;
}
textarea,
select,
input {
	padding: 6px 12px;
	margin-bottom: .5rem;
	background: var(--nc-bg-2);
	color: var(--nc-tx-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="time"],
input[type="date"],
textarea,
select {
	width: 100%;
}

textarea {
	font-size: 1rem;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--val-bg); /* nýr bg litur */
	color: var(--nc-tx-2);   /* ath */
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;
	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: var(--nc-lk-2);
}

/* hack í user agent - var(--nc-tx-2) virkar ekki 
lausn: https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker?newreg=23b233a466f14c6e851d6e948e96d7ee*/

::-webkit-calendar-picker-indicator {
	background-color: var(--val-bg);
	padding: .2rem;
	border-radius: 50%;
}

fieldset {
	margin-top: 1rem;
	padding: 0 1rem;
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}

fieldset section {
	margin:0;
}

@media screen and (min-width:48rem){
	fieldset {
		padding: 2rem;
	}
}