/* spjallbox */
#inputcheck {
    display: none;
}
.chatbutt {
    position: fixed;
    z-index: 6;
    right: .5rem;
    bottom: .5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 50%;
    /*background-color: var(--val-bg);*/
    padding: 0 .7rem;
}
/*þegar smellt er á input checkbox # þá virkjast ~ label for # */
#inputcheck:checked ~ .chatbox { 
  bottom: 0;
  transition: all .3s ease;
}
.chatbox {
  position: fixed;
  right: .5rem;
  bottom: -35rem;
  transition: all .3s ease;
}
.chatbox form {
    padding: 1rem;
    background-color: var(--nc-ac-1);
    max-width: 28rem;
    font-family: sans-serif;
}
.chatbox label {
  font-size: .9rem;
}
.chatbox input[type=text], 
.chatbox input[type=email], 
.chatbox input[type=tel], 
textarea {
    width:100%;
    background-color: var(--nc-bg-2);
}
.chatbox input[type=submit] {
    border: 1px solid;
    margin: 1rem 0;
    background-color: var(--val-bg);
}
.chatbox input[type="text"]:focus,
.chatbox input[type="email"]:focus,
.chatbox textarea:focus {
  background-color: var(--nc-bg-1);
}
.chatbox p {
    text-align: center;
}
@media screen and (min-width:48rem){
  .chatbutt {
    font-size: 2rem;
  }
}